[submodule "tests"]
	path = ethereum-tests
	url = https://github.com/ethereum/tests
	branch = develop
[submodule "era-contracts"]
	path = era-contracts
	url = https://github.com/matter-labs/era-contracts
	branch = evm-emulator/compiler-testing
[submodule "ethereum-tests"]
	path = ethereum-tests
	url = https://github.com/ethereum/tests
